.head-section {
   position: relative;
   // width: 100%;
   height: auto;
   margin: auto;
   background-color: $secondaryColor;
   .head-section_para {
      position: absolute;
      top: 30%;
      left: 36%;
      transform: translate(-50%, -50%);
      color: $primaryColor;
      line-height: 60px;
      h3 {
         font-family: $secondaryFont;
         font-size: 4.3em;
      }
      .head-section_span {
         font-family: $primaryFont;
         font-size: 1.8em;
      }
   }
   &__bg {
      width: 100%;
      .bg-top{
         display: block;
         width: auto;
         margin: auto;
      }
      .tv-top {
         position: absolute;
         top: 46%;
         left: 63%;
         transform: translate(-45%,-65%);
      }
   }
}