main {
   .head_section {
      position: relative;
      background-image: url('./../../../images_samsung/neo-top-bg.webp');
      background-size: 120%;
      width: 100%;
      // box-sizing: content-box;
      height: 800px;
      .tv-top {
         position: absolute;
         top: 0;
         left: 56%;
         z-index: 5;
      }
   }
}