.mainBtns1 {
   position: absolute;
   top: 40%;
   left: 28%;
   border: solid 2px $primaryColor;
   border-radius: 50px;
   padding: 13px;
   .light-btn1 {
      @include btn1;
   }
   .light-btn1::after {
      @include btn_after
   }
   .experience-btn1 {
      @include btn1;
   }
   .experience-btn1::after {
      @include btn_after
   }
   .durability-btn1 {
      @include btn1;
   }
   
}