header {
   padding-left: 3%;
   padding-right: 3%;
   padding-top: 10px;
   .main-nav-primary {
      @include flexNav;
      width: 100%;
      max-width: 1400px;
      margin: 21px auto 0 auto;
      .linkHome {
         max-width: 105px;
         margin: auto 60px auto 0;
         h1 {
            img {
               width: 100px;
            }      
         }
      }
   }
   .main-nav-primary::after {
      position: absolute;
      content: '';
      width: 80%;
      height: 1px;
      background-color: rgb(238, 238, 238);
      margin: 60px auto 0 auto;
   }
   .main-nav-secondary {
      @include flexNav;
      position: -webkit-sticky;
      position: sticky;
      top: 30px;
      width: 100%;
      max-width: 1400px;
      margin: 30px auto 10px auto;
      h2 {
         font-family: $secondaryFont;
         font-size: 1.5em;
         margin-right: 55px;
      }
   }
}