.nav_3 {
   @include headFamily;
   margin-top: 10px;
   .global {
      @include flexNav;
      &__li {
         margin-right: 50px;
         font-size: .9em;

         a {
            @include borderNavLi;
            text-align: center;
            width: auto;
            padding: 0;
         }
         a::after {
            content: '';
            display: block;
            width: 30px;
            height: 4px;
            margin: 15px auto 0 auto;
            background-color: $secondaryColor;
         }
      }
   }
}