@mixin headFamily {
   font-family: $primaryFont;
   font-size: .85em;
}

@mixin borderNavLi {
   white-space: nowrap;
   border-radius: 25px;
   padding: 10px;
   cursor: pointer;
}

@mixin flexNav {
   display: flex;
   justify-content: space-between;
}

@mixin hoverBorderNavLi {
   background-color: $secondaryColor;
   color: $primaryColor;
}

@mixin btn1 {
   color: $primaryColor;
   cursor: pointer;
   font-size: 1.1em;
   margin: 5px;
}

@mixin btn_after {
   content: '';
   border-right: solid 2px;
   padding-left: 15px;
   text-align: center;
}