@mixin headFamily {
   font-family: $primaryFont;
   font-size: .85em;
}

@mixin borderNavLi {
   white-space: nowrap;
   border-radius: 25px;
   padding: 10px;
   cursor: pointer;
}

@mixin flexNav {
   display: flex;
   justify-content: space-between;
}

@mixin hoverBorderNavLi {
   background-color: $secondaryColor;
   color: $primaryColor;
}