@font-face {
   font-family: OneBold;
   src: url('./../../fonts_samsung/SamsungOne-700.ttf');
}

@font-face {
   font-family: NeoBold;
   src: url('./../../fonts_samsung/samsungsharpsans-bold.otf');
}

$primaryFont: OneBold, sans-serif;
$secondaryFont: NeoBold, sans-serif;
